<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Ryan's Movie Revenue Prediction Algorithm</title>
  <meta name="description" content="Movie Revenue Predictor">
  <meta name="author" content="Galvanize DSI">

    <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}">  </script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="s    ha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integr    ity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qv    yjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

<body style="background-color:#eee9e9">
<!-- <body style="background-image:url()"> -->
  <div class="container">
    <h1>Ryan's Movie Revenue Prediction Algorithm</h1>
    <p>
      <h3>Choose features to get a prediction!</h3>
    </p>
<!--
    <img src="../Hollywood-sign-night.jpg">
    <img src="./Hollywood-sign-night.jpg">
    <img src="../imgs/Hollywood-sign-night.jpg">
    <img src="../Hollywood-sign-night.jpg"> -->
    <br>
    <br>
    <div class="row">
      <div class="col-md-6">
        <span><p style="font-size:20px">Production Budget ($1000 to $500mil):</span><br> <input id="b"></input>
      </div>
    </div>

    <p>
    <div class="row">
      <div class="col-md-3">
        <span><p style="font-size:20px">Part of Franchise?:</span>
        <p>
        <select id=franchise>
          <option value='is_franchise'> Yes </option>
          <option value='not_franchise'> No </option>
        </select>
      </div>


      <div class="col-md-3">
          <span><p style="font-size:20px">Rating:</span>
          <p>
          <select id=rating>
            <option value='G'> G</option>
            <option value='PG'> PG </option>
            <option value='PG-13'> PG-13</option>
            <option value='R'> R </option>
            <option value='Not Rated'> Not Rated </option>
          </select>
      </div>


      <div class="col-md-3">
        <!-- Index 9:21 inclusive in prediction array -->
          <span><p style="font-size:20px">Genre:</span>
          <p>
          <select id=genre>
            <option value='Action'> Action </option>
            <option value='Adventure'> Adventure </option>
            <option value='Black Comedy'> Black Comedy </option>
            <option value='Comedy'> Comedy </option>
            <option value='Concert'> Concert</option>
            <option value='Documentary'> Documentary </option>
            <option value='Drama'> Drama </option>
            <option value='Horror'> Horror </option>
            <option value='Multiple'> Multiple </option>
            <option value='Musical'> Musical </option>
            <option value='Romantic Comedy'> Romantic Comedy </option>
            <option value='Thriller/Suspense'> Thriller/Suspense </option>
            <option value='Western'> Western </option>
          </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <span><p style="font-size:20px">Production Method:</span>
        <p>
        <select id=prod_method>
          <option value='Animation/Live Action'> Animation/Live Action </option>
          <option value='Digital Animation'> Digital Animation </option>
          <option value='Hand Animation'> Hand Animation </option>
          <option value='Live Action'> Live Action </option>
          <option value='Multiple Production Methods'> Multiple Production Methods </option>
          <option value='Stop-Motion Animation'> Stop-Motion Animation </option>
        </select>
      </div>

      <div class="col-md-3">
          <span><p style="font-size:20px">Creative Type:</span>
          <p>
          <select id=creative_type>
            <option value='Contemporary Fiction'> Contemporary Fiction </option>
            <option value='Dramatization'> Dramatization </option>
            <option value='Factual'> Factual </option>
            <option value='Fantasy'> Fantasy </option>
            <option value='Historical Fiction'> Historical Fiction </option>
            <option value='Kids Fiction'> Kids Fiction </option>
            <option value='Multiple Creative Types'> Multiple Creative Types </option>
            <option value='Science Fiction'> Science Fiction </option>
            <option value='Super Hero'> Super Hero </option>
          </select>
      </div>

      <div class="col-md-3">
          <span><p style="font-size:20px">Source:</span>
          <p>
          <select id=source>
            <option value='Based on Comic/Graphic Novel'> Based on Comic/Graphic Novel </option>
            <option value='Based on Factual Book/Article'> Based on Factual Book/Article </option>
            <option value='Based on Fiction Book/Short Story'> Based on Fiction Book/Short Story </option>
            <option value='Based on Folk Tale/Legend/Fairytale'> Based on Folk Tale/Legend/Fairytale </option>
            <option value='Based on Game'> Based on Game </option>
            <option value='Based on Movie'> Based on Movie </option>
            <option value='Based on Musical Group'> Based on Musical Group </option>
            <option value='Based on Musical or Opera'> Based on Musical or Opera </option>
            <option value='Based on Play'> Based on Play </option>
            <option value='Based on Real Life Events'> Based on Real Life Events </option>
            <option value='Based on Religious Text'> Based on Religious Text </option>
            <option value='Based on Short Film'> Based on Short Film </option>
            <option value='Based on TV'> Based on TV </option>
            <option value='Based on Theme Park Ride'> Based on Theme Park Ride </option>
            <option value='Based on Toy'> Based on Toy </option>
            <option value='Based on Web Series'> Based on Web Series </option>
            <option value='Compilation'> Compilation </option>
            <option value='Original Screenplay'> Original Screenplay </option>
            <option value='Remake'> Remake </option>
            <option value='Spin-Off'> Spin-Off </option>
          </select>
      </div>
    </div>

    <div>
        <span><p style="font-size:20px">Release Month:</span>
        <p>
        <select id=month>
          <option value='January'> January </option>
          <option value='February'> February </option>
          <option value='March'> March </option>
          <option value='April'> April </option>
          <option value='May'> May </option>
          <option value='June'> June </option>
          <option value='July'> July </option>
          <option value='August'> August </option>
          <option value='September'> September </option>
          <option value='October'> October </option>
          <option value='November'> November </option>
          <option value='December'> December </option>
        </select>
    </div>

    <br>
    <br>
    <div>
        <button class="btn btn-primary btn-sm btn-block" type="button" id="solve"><p style="font-size:20px"><b>Predict!</b></button>
    </div>

    <div>
        <!-- The span has an id so that later we can fill in the solution
             using js. -->
        <p><span id="solution"></span> </p>

    </div>


    <!-- <div>
        <p>
        <p>My <a href='https://www.linkedin.com/in/rmloong/' target = "_blank">Linkedin</a>
        <p>My <a href='https://github.com/Rmloong' target = "_blank">Github</a>
    </div> -->
  </div>

<script type="text/javascript">
let get_input_coefficients = function() {
  let franchise_input = $("select#franchise")
  let genre_input = $("select#genre")
  let rating_input = $("select#rating")
  let prod_method_input = $("select#prod_method")
  let creative_type_input = $('select#creative_type')
  let source_input = $('select#source')
  let month_input = $('select#month')
    let budget = $("input#b").val()
    let franchise = franchise_input.val()
    let genre = genre_input.val()
    let rating = rating_input.val()
    let prod_method = prod_method_input.val()
    let creative_type = creative_type_input.val()
    let source = source_input.val()
    let month = month_input.val()

    return {'budget': parseInt(budget),
            'franchise': franchise,
            'genre': genre,
            'rating': rating,
            'prod_method': prod_method,
            'creative_type': creative_type,
            'source': source,
            'month': month
            }
};
let send_coefficient_json = function(coefficients) {
    $.ajax({
        url: '/solve',
        contentType: "application/json; charset=utf-8",
        type: 'POST',
        success: function (data) {
            display_solutions(data);
        },
        data: JSON.stringify(coefficients)
    });
};
let display_solutions = function(solutions) {
    $("span#solution").html(solutions.root_1)
};
$(document).ready(function() {
    $("button#solve").click(function() {
        let coefficients = get_input_coefficients();
        send_coefficient_json(coefficients);
    })
})
</script>

</body>
</html>
